.cart {
  padding: 20px 0px;
}
.shopping-cart {
  display: flex;
  justify-content: center;
}

.main-product {
  display: flex;
  padding-left: 100px;
}

.payment-cart {
  padding-left: 1.5%;
  width: auto;
  background-color: #f0f1f4;
  margin-left: -3%;
  margin-right: 2%;
}
.payment-cart h4 {
  padding: 20px 0px;
}
.small-line-main {
  border-bottom: 0.01rem solid grey;
  width: 78%;
}
.total-money {
  display: flex;
}

#sub {
  padding-right: 28%;
}

#payment-btn {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
  background: #928656;
  border: none;
  display: inline-block;
  outline: none !important;
  margin-left: 0%;
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
}

.small-line-payment {
  border-bottom: 0.01rem solid grey;
  width: 94%;
}

.small-line-payment-icon {
  border-bottom: 0.01rem solid grey;
  width: 94%;
  margin-bottom: 10px;
}

.icon-link img {
  margin-bottom: 20px;
}

.cart p {
  margin-top: 20px;
  padding-left: 82%;
}

#idcart {
  padding-right: 100px;
}

#namecart {
  padding-right: 300px;
}

#typecart {
  padding-right: 300px;
}

#pricecart {
  padding-right: 50px;
}

#btncart {
  display: flex;
  padding-right: 50px;
}

#updatecart {
  margin-right: 10px;
  border: none;
  text-decoration: none;
  background-color: white;
  &:hover {
    color: green;
  }
}

#deletecart {
  margin-right: 10px;
  border: none;
  text-decoration: none;
  background-color: white;
  &:hover {
    color: red;
  }
}
